body {
  font-family: Helvetica;
  background-color: #F5EEF8;
}

#banner {
  background-image: url("pattern.jpeg");
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

.heading {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#brushes .heading {
  background-color: mediumspringgreen;
}

#frames .heading {
  background-color: lightcoral;
}

#paint .heading {
  background-color: skyblue;
}

.prices {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
